@using AAC.SelfServiceVSC
@using AAC.SelfServiceVSC.Models
@{
    ViewData["Title"] = "Payment Details";
}

<div #template>
    <div class="container row mt-3">
        <div class="card-header">
            <h4 class="text-center">Purchase Complete (credit card purchase)</h4>
        </div>
    </div>
    <h4>
        Congratulations! As soon as we manually verify that your odometer reading matches the odometer photo you uploaded,
        your purchase is now complete and your vehicle is now covered with the highest-quality coverage! For questions about your
        coverage, please feel free to call the number provided on your contract.
        <br />
        <br />
        <br />
        A copy of your vehicle service contract will be emailed to the email address you provided.
        <br />
        <br />
        <br />
        Welcome to our family of happy customers. Enjoy the peace-of-mind that comes from knowing you are now protected from
        unexpected repair costs.
        <br />
        <br />
        <br />
        You may click here to download a PDF copy of your vehicle service contract.
    </h4>
</div>


<div #payment>
    <div class="container row mt-3">
        <div class="card-header">
            <h4 class="text-center">Purchase Complete (payment plan)</h4>
        </div>
    </div>
    <h4>
        Congratulations! As soon as we manually verify that your odometer reading matches the odometer photo you uploaded,
        your purchase will be complete and your vehicle will be protected with the highest-quality coverage! For questions about
        your coverage, please feel free to call the number provided on your contract.
        <br />
        <br />
        <br />
        A copy of your vehicle service contract, along with your payment plan documentation, will be emailed to the email address
        you provided.
        <br />
        <br />
        <br />
        Welcome to our family of happy customers. Enjoy the peace-of-mind that comes from knowing you are now protected from
        unexpected repair costs.
        <br />
        <br />
        <br />
        You may click here to download a PDF copy of your vehicle service contract and payment plan documentation.
    </h4>
</div>
