@using AAC.SelfServiceVSC
@using AAC.SelfServiceVSC.Models
@{
    ViewData["Title"] = "Payment Details";
}

<div>
    <div class="container row mt-3">
        <div class="card-header">
            <h4 class="text-center">Purchase Complete (payment plan)</h4>
        </div>
    </div>
    <h4>
        Congratulations! As soon as we manually verify that your odometer reading matches the odometer photo you uploaded,
        your purchase will be complete and your vehicle will be protected with the highest-quality coverage! For questions about
        your coverage, please feel free to call the number provided on your contract.
        <br />
        <br />
        <br />
        A copy of your vehicle service contract, along with your payment plan documentation, will be emailed to the email address
        you provided.
        <br />
        <br />
        <br />
        Welcome to our family of happy customers. Enjoy the peace-of-mind that comes from knowing you are now protected from
        unexpected repair costs.
        <br />
        <br />
        <br />
        @* <label><a href="#" id="linkDownloadPDF">You may click here to download a PDF copy of your vehicle service contract and payment plan documentation.</a></label>*@
         <label>
            You may click here to download a PDF copy of your
                <a href="#" id="linkDownloadPDF" style="text-decoration: underline;">Vehicle Service Contract</a>
              @*   and
                <a href="#" id="linkPaymentPlan" style="text-decoration: underline;">Payment Plan Documentation</a> *@
        </label>
    </h4>
</div>
<div class="text-end mt-3 mb-5">
    <button type="button" class="btn btn-success btn-lg rounded-pill p-4 pt-2 pb-2" id="DownloadPDF">
        Download PDF
    </button>
  @*   <button type="button" class="btn btn-success btn-lg rounded-pill p-4 pt-2 pb-2" id="VoidContract">
        Cancel Contract
    </button> *@
</div>
@section Scripts
{
    <style type="text/css">
        body {
            background-image: linear-gradient(white 20%, transparent 30%, transparent 70%, white 80%), url('/img/bg/bg04.jpg');
        }
    </style>
    <script type="text/javascript">
        $("#DownloadPDF,#linkDownloadPDF").on("click", function () {
            $.ajax({
                url: '/DownloadPDF',
                method: 'GET',
                xhrFields: {
                    responseType: 'blob' // Set the response type to blob
                },
                success: function (data) {
                    var blob = new Blob([data], { type: 'application/pdf' });
                    var blobUrl = URL.createObjectURL(blob);
                    var link = document.createElement('a');
                    link.href = blobUrl;
                    link.download = 'Contract.pdf';
                    document.body.appendChild(link)
                    link.click();
                    document.body.removeChild(link);
                    console.log("PDF downloaded successfully");
                },
                error: function (error) {
                    console.error("Error downloading PDF:", error);
                }
            });
        });

        $(document).ready(function () {
            $("#VoidContract").on("click", function () {
                $.ajax({
                    type: "POST",
                    url: "/voidPlan",
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        if (response) {
                            alert("Contract has been voided successfully.");
                        } else {
                            alert("Failed to void the contract.");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                        alert("An error occurred while processing your request.");
                    }
                });
            });
        });

    </script>
}

