@{
	ViewData["Title"] = "About";
}

<div class="container">
	Hi.
</div>

@section Scripts
{
<style type="text/css">
body {
	background-image: linear-gradient(white 20%, transparent 30%, transparent 70%, white 80%), url('/img/bg/bg05.jpg');
}
</style>
<script type="text/javascript">
</script>
}
